<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/FCFS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Enter the No. of Process->",end=" ")
p = int(input()) 
print('Enter the task name->', end=" ")
task = input().split()
print('Enter the No. of task time->', end=" ")
time = list(map(int, input().split()))

Enter the No. of Process-> 5
Enter the task name-> p1 p2 p3 p4 p5
Enter the No. of task time-> 80 20 10 20 80

In [ ]:
task

['p1', 'p2', 'p3', 'p4', 'p5']

In [ ]:
time

[80, 20, 10, 20, 80]

In [ ]:
import pandas as pd
l = [task,time]
df = pd.DataFrame(l).transpose()
df.columns = ["Task","Time"]
df

  Task Time
0   p1   80
1   p2   20
2   p3   10
3   p4   20
4   p5   80

In [ ]:
# Gantt Chart
print(0,end=' ')
tmp = 0
l2 = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    l2.append(tmp)
    print(tsk,tmp,end=' ')

0 p1 80 p2 100 p3 110 p4 130 p5 210

In [ ]:
l2 = l2[:-1]
import numpy as np
w = np.sum(l2)
wa = np.sum(l2)/len(l2)
print('Total waiting time : {0:.2f}ms'.format(w))
print('Average waiting time : {0:.2f}ms'.format(wa))

Total waiting time : 420.00ms
Average waiting time : 84.00ms

In [ ]:
import pandas as pd
l3 = [l2,time]
df1 = pd.DataFrame(l3).transpose()
df1.columns = ["Wait","Time"]
df1

   Wait  Time
0     0    80
1    80    20
2   100    10
3   110    20
4   130    80

In [ ]:
print(0,end=' ')
tmp2 = 0
l4 = [0]
for i,j in zip(df1.Time,df1.Wait): 
    tmp2+=j
    l4.append(tmp2)
    print(i,tmp2,end=' ')

0 80 0 20 80 10 180 20 290 80 420

In [ ]:
l4 = l4[:-1]
import numpy as np
T = np.sum(l4)
TA = np.sum(l4)/len(l4)
print('Total Trun around  time : {0:.2f}ms'.format(T))
print('Average Trun around  time : {0:.2f}ms'.format(TA))

Total Trun around  time : 870.00ms
Average Trun around  time : 174.00ms