<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/First_Come_First_Serve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First Come First Serve**

In [20]:
print("Enter the No. of Process->",end=" ")
p = int(input()) 
print('Enter the task name->', end=" ")
task = input().split()
print('Enter the No. of task time->', end=" ")
time = list(map(int, input().split()))

Enter the No. of Process-> 5
Enter the task name-> p1 p2 p3  p4 p5
Enter the No. of task time-> 80 20 10 20 80

In [21]:
task

['p1', 'p2', 'p3', 'p4', 'p5']

In [22]:
time

[80, 20, 10, 20, 80]

In [23]:
import pandas as pd
l = [task,time]
df = pd.DataFrame(l).transpose()
df.columns = ["Task","Time"]
df

  Task Time
0   p1   80
1   p2   20
2   p3   10
3   p4   20
4   p5   80

In [24]:
# Gantt Chart
print(0,end=' ')
tmp = 0
l1 = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    l1.append(tmp)
    print(tsk,tmp,end=' ')

0 p1 80 p2 100 p3 110 p4 130 p5 210

In [25]:
l1 = l1[:-1]
import numpy as np
w = np.sum(l1)
wa = w/len(l1)
print('Total waiting time : {0:.2f}ms'.format(w))
print('Average waiting time : {0:.2f}ms'.format(wa))

Total waiting time : 420.00ms
Average waiting time : 84.00ms

In [26]:
import pandas as pd
l2 = [l1,time]
df1 = pd.DataFrame(l2).transpose()
df1.columns = ["Wait","Time"]
df1

   Wait  Time
0     0    80
1    80    20
2   100    10
3   110    20
4   130    80

In [27]:
#print(0,end=' ')
tat = 0
l3 = [0]
for i,j in zip(df1.Wait,df1.Time): 
    tat = i+j 
    l3.append(tat)
    print(tat,end=' ')

80 100 110 130 210

In [29]:
l3 = l3[:-1]
import numpy as np
tr = np.sum(l3)
ta = tr/len(l3)
print('Total Turn Around time : {0:.2f}ms'.format(tr))
print('Average Turn Around time : {0:.2f}ms'.format(ta))

Total Turn Around time : 420.00ms
Average Turn Around time : 84.00ms