<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/Lab_Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Round Robin Algorithm

In [1]:
print("Enter the number of Process->",end=" ")
p = int(input()) 
print('Enter the Process name->', end=" ")
process = input().split()
print('Enter the burst time->', end=" ")
burst = list(map(int, input().split()))

Enter the number of Process-> 4
Enter the Process name-> p1 p2 p3 p4
Enter the burst time-> 21 3 6 2

In [19]:
print('The Process are->')
process

The Process are->

['p1', 'p2', 'p3', 'p4']

In [20]:
print('The Burst time are->')
burst

The Burst time are->

[21, 3, 6, 2]

In [29]:
import pandas as pd
l = [process,burst]
df = pd.DataFrame(l).transpose()
df.columns = ['Process','BurstTime']
df

  Process BurstTime
0      p1        21
1      p2         3
2      p3         6
3      p4         2

In [30]:
df.sort_values(by=['Process'],ascending=True,axis=0,inplace=True)
df

  Process BurstTime
0      p1        21
1      p2         3
2      p3         6
3      p4         2

In [31]:
new_df = df.copy()

In [32]:
new_df['CopyTime'] = df.BurstTime.copy()
new_df

  Process BurstTime CopyTime
0      p1        21       21
1      p2         3        3
2      p3         6        6
3      p4         2        2

In [33]:
tmp = 0
l2 = [0]
threshold = int(input('Give quantum value->'))

Give quantum value->5

In [34]:
while (new_df['BurstTime']).any() > 0:
  for index, row in new_df.iterrows():
    if row.BurstTime>0:
      l2.append(row.Process)
      if row.BurstTime > threshold: 
        tmp += threshold
        l2.append(tmp)
        new_df['BurstTime'][index] = row.BurstTime - threshold
      else :
        tmp += row.BurstTime
        l2.append(tmp)
        new_df['BurstTime'][index] = 0

In [35]:
print('Gantt chart {}'.format(str(l2)))

Gantt chart [0, 'p1', 5, 'p2', 8, 'p3', 13, 'p4', 15, 'p1', 20, 'p3', 21, 'p1', 26, 'p1', 31, 'p1', 32]

In [36]:
import numpy as np
l3 = l2[::-1]
print(l3)
l4 =[]
for proc in new_df.Process:
  print(proc,l3[l3.index(proc)+1],l3.count(proc)-1)
  if (l3.count(proc)-1)>0:
    val = l3[l3.index(proc)+1] - (l3.count(proc)-1)*threshold
    l4.append(val)
  else :
    val = l3[l3.index(proc)+1] 
    l4.append(val)
        
new_df['WaitingTime'] = l4

print('Average wait time is {0:.2f}ms'.format(new_df['WaitingTime'].mean()))

[32, 'p1', 31, 'p1', 26, 'p1', 21, 'p3', 20, 'p1', 15, 'p4', 13, 'p3', 8, 'p2', 5, 'p1', 0]
p1 31 4
p2 5 0
p3 20 1
p4 13 0
Average wait time is 11.00ms