<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/Lab_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Come First Serve

In [36]:
print("Enter the No. of Process->",end=" ")
p = int(input()) 
print('Enter the process name->', end=" ")
task = input().split() # Split a string into a list where each word is a list item
print('Enter the burst time->', end=" ")
time = list(map(int, input().split())) # Calculate the length of each word in the tuple

Enter the No. of Process-> 4
Enter the process name-> p1 p2 p3 p4
Enter the burst time-> 21 3 6 2

In [37]:
print('The Process are->')
task

The Process are->

['p1', 'p2', 'p3', 'p4']

In [38]:
print("The Burst Time are->")
time

The Burst Time are->

[21, 3, 6, 2]

In [27]:
import pandas as pd
l = [task,time]
df = pd.DataFrame(l).transpose() #obtained by moving the rows data to the column and columns data to the rows.
df.columns = ["Task","Time"]
df

  Task Time
0   p1   21
1   p2    3
2   p3    6
3   p4    2

In [35]:
# Gantt Chart
print('Gantt Chart->')
print(0,end=' ')
tmp = 0
l1 = [0]
for tsk, tm in zip(df.Task,df.Time):  #Join two tuples together
    tmp+=tm
    l1.append(tmp)
    print(tsk,tmp,end=' ')

Gantt Chart->
0 p1 21 p2 24 p3 30 p4 32

In [24]:
import numpy as np
l1 = l1[:-1] # Remove last element
w = np.sum(l1) # use numpy aarry for additaion
wa = w/len(l1)
print('Total waiting time : {0:.2f}ms'.format(w))
print('Average waiting time : {0:.2f}ms'.format(wa))

Total waiting time : 75.00ms
Average waiting time : 18.75ms