<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/Lab_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Shortest Job First

In [13]:
print("Enter the No. of Process->",end=" ")
p = int(input()) 
print('Enter the Process name->', end=" ")
task = input().split()
print('Enter the burst time->', end=" ")
time = list(map(int, input().split()))

Enter the No. of Process-> 4
Enter the Process name-> p1 p2 p3 p4
Enter the burst time-> 21 3 6 2

In [14]:
print('The Process are->')
task

The Process are->

['p1', 'p2', 'p3', 'p4']

In [15]:
print("The Burst Time are->")
time

The Burst Time are->

[21, 3, 6, 2]

In [10]:
import pandas as pd
l = [task,time]
df = pd.DataFrame(l).transpose()
df.columns = ["Task","Time"]
df

  Task Time
0   p1   21
1   p2    3
2   p3    6
3   p4    2

In [11]:
df.sort_values(by=['Time'],ascending=True,axis=0,inplace=True)
df

  Task Time
3   p4    2
1   p2    3
2   p3    6
0   p1   21

In [12]:
print('Gantt Chart->')
print(0,end=' ')
tmp = 0
l = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    l.append(tmp)
    print(tsk,tmp,end=' ')

Gantt Chart->
0 p4 2 p2 5 p3 11 p1 32

In [7]:
import numpy as np
l = l[:-1]
w = np.sum(l)
wa = w/len(l)
print('Total waiting time : {0:.2f}ms'.format(w))
print('Average waiting time : {0:.2f}ms'.format(wa))

Total waiting time : 18.00ms
Average waiting time : 4.50ms