<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/Round_Robin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Enter no. of process :', end=' ')
num = int(input())

print('Enter task name :', end=' ')
task = input().split()
print('Enter task time :', end=' ')
time = list(map(int, input().split()))
print('Enter priority:', end=' ')
prior = list(map(int, input().split()))

Enter no. of process : 6
Enter task name : p1 p2 p3 p4 p5 p6
Enter task time : 4 5 3 1 6 3
Enter priority: 0 1 2 3 4 6

In [4]:
import pandas as pd
lst = [task,time,prior]
df = pd.DataFrame(lst).transpose()
df.columns = ['Task', 'Time','Priority']
df

  Task Time Priority
0   p1    4        0
1   p2    5        1
2   p3    3        2
3   p4    1        3
4   p5    6        4
5   p6    3        6

In [5]:
df.sort_values(by=['Task'],ascending=True,axis=0,inplace=True)
df

  Task Time Priority
0   p1    4        0
1   p2    5        1
2   p3    3        2
3   p4    1        3
4   p5    6        4
5   p6    3        6

In [6]:
df.drop('Priority',axis=1,inplace=True)
df

  Task Time
0   p1    4
1   p2    5
2   p3    3
3   p4    1
4   p5    6
5   p6    3

In [7]:
mdf = df.copy()

In [8]:
mdf['Time2'] = df.Time.copy()
mdf

  Task Time Time2
0   p1    4     4
1   p2    5     5
2   p3    3     3
3   p4    1     1
4   p5    6     6
5   p6    3     3

In [9]:
tmp = 0
lst2 = [0]
threshold = int(input('Give quantum value :'))

Give quantum value :2

In [12]:
while (mdf['Time']).any() > 0:
  for index, row in mdf.iterrows():
    if row.Time>0:
      lst2.append(row.Task)
      if row.Time > threshold: 
        tmp += threshold
        lst2.append(tmp)
        mdf['Time'][index] = row.Time - threshold
      else :
        tmp += row.Time
        lst2.append(tmp)
        mdf['Time'][index] = 0

print('GANTT chart {}'.format(str(lst2)))

GANTT chart [0, 'p1', 2, 'p2', 4, 'p3', 6, 'p4', 7, 'p5', 9, 'p6', 11, 'p1', 13, 'p2', 15, 'p3', 16, 'p5', 18, 'p6', 19, 'p2', 20, 'p5', 22]

In [13]:
import numpy as np
lst3 = lst2[::-1]
print(lst3)
lst4 =[]
for proc in mdf.Task:
    print(proc,lst3[lst3.index(proc)+1],lst3.count(proc)-1)
    if (lst3.count(proc)-1)>0:
        val = lst3[lst3.index(proc)+1] - (lst3.count(proc)-1)*threshold
        lst4.append(val)
#         print(val)
    else :
        val = lst3[lst3.index(proc)+1] 
        lst4.append(val)
        
mdf['wait time'] = lst4

print('Average wait time is {0:.2f}ms'.format(mdf['wait time'].mean()))

[22, 'p5', 20, 'p2', 19, 'p6', 18, 'p5', 16, 'p3', 15, 'p2', 13, 'p1', 11, 'p6', 9, 'p5', 7, 'p4', 6, 'p3', 4, 'p2', 2, 'p1', 0]
p1 11 1
p2 19 2
p3 15 1
p4 6 0
p5 20 2
p6 18 1
Average wait time is 12.50ms

In [14]:
mdf

  Task Time Time2  wait time
0   p1    0     4          9
1   p2    0     5         15
2   p3    0     3         13
3   p4    0     1          6
4   p5    0     6         16
5   p6    0     3         16