<a href="https://colab.research.google.com/github/Void-Brain70/OS/blob/main/Shortest_Job_First.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Shortest Job First**

In [31]:
print("Enter the No. of Process->",end=" ")
p = int(input()) 
print('Enter the task name->', end=" ")
task = input().split()
print('Enter the No. of task time->', end=" ")
time = list(map(int, input().split()))

Enter the No. of Process-> 3
Enter the task name-> p1 p2 p3
Enter the No. of task time-> 34 6 7

In [32]:
task

['p1', 'p2', 'p3']

In [33]:
time

[34, 6, 7]

In [34]:
import pandas as pd
l = [task,time]
df = pd.DataFrame(l).transpose()
df.columns = ["Task","Time"]
df

  Task Time
0   p1   34
1   p2    6
2   p3    7

In [35]:
df.sort_values(by=['Time'],ascending=True,axis=0,inplace=True)
df

  Task Time
1   p2    6
2   p3    7
0   p1   34

In [36]:
print(0,end=' ')
tmp = 0
l = [0]
for tsk, tm in zip(df.Task,df.Time): 
    tmp+=tm
    l.append(tmp)
    print(tsk,tmp,end=' ')

0 p2 6 p3 13 p1 47

In [37]:
l = l[:-1]
import numpy as np
w = np.sum(l)
wa = w/len(l)
print('Total waiting time : {0:.2f}ms'.format(w))
print('Average waiting time : {0:.2f}ms'.format(wa))

Total waiting time : 19.00ms
Average waiting time : 6.33ms

In [38]:
import pandas as pd
l2 = [l,time]
df1 = pd.DataFrame(l2).transpose()
df1.columns = ["Wait","Time"]
df1

   Wait  Time
0     0    34
1     6     6
2    13     7

In [39]:
df1.sort_values(by=['Time'],ascending=True,axis=0,inplace=True)
df1

   Wait  Time
1     6     6
2    13     7
0     0    34

In [43]:
print(0,end=' ')
l3 = [0]
k = 0
for i,j in zip(df1.Time,df1.Wait): 
    k = i+j
    l3.append(k)
    print(i,k,end=' ')

0 6 12 7 20 34 34

In [44]:
l3 = l3[:-1]
import numpy as np
t = np.sum(l3)
ta = t/len(l3)
print('Total Trun around  time : {0:.2f}ms'.format(t))
print('Average Trun around  time : {0:.2f}ms'.format(ta))

Total Trun around  time : 32.00ms
Average Trun around  time : 10.67ms